<div class="all">
	<div class="card">
	  <img src="/images/single-post.jpg" alt="John" style="width:100%">
	  <h1 class="nameperson">John Doe</h1>
	  <p class="title">CEO & Founder, Example</p>
	  <p>Harvard University</p>
	  <div style="margin: 24px 0;">
	    <a href="#"><i class="fa fa-dribbble"></i></a>
	    <a href="#"><i class="fa fa-twitter"></i></a>
	    <a href="#"><i class="fa fa-linkedin"></i></a>
	    <a href="#"><i class="fa fa-facebook"></i></a>
	 </div>
	</div>
	<div class="con">
		<div class="wrapper">
			<div class="commentBoxfloat">
				<form id="cmnt">
					<fieldset>
						<div class="form_grp">
							<label>Add project</label>
							<textarea id="userCmnt" placeholder="Write your project here."></textarea>
						</div>
						<div class="form_grp">
							<button type="button" id="submit">Submit</button>
						</div>
					</fieldset>
				</form>
			</div>
		</div>
		<!-- Contenedor Principal -->
		<div class="comments-container">
			<ul id="comments-list" class="comments-list">
				<li>
					<div class="comment-main-level">
						<!-- Avatar -->
						<div class="comment-avatar"><img src="http://i9.photobucket.com/albums/a88/creaticode/avatar_1_zps8e1c80cd.jpg" alt=""></div>
						<!-- Contenedor del Comentario -->
						<div class="comment-box">
							<div class="comment-head">
								<h6 class="comment-name by-author"><a href="http://creaticode.com/blog">Agustin Ortiz</a></h6>
								<span>hace 20 minutos</span>
								<i class="fa fa-reply"></i>
								<i class="fa fa-heart"></i>
							</div>
							<div class="comment-content">
								Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit omnis animi et iure laudantium vitae, praesentium optio, sapiente distinctio illo?
							</div>
						</div>
					</div>
					<!-- Respuestas de los comentarios -->
					<ul class="comments-list reply-list">
						<li>
							<!-- Avatar -->
							<div class="comment-avatar"><img src="http://i9.photobucket.com/albums/a88/creaticode/avatar_2_zps7de12f8b.jpg" alt=""></div>
							<!-- Contenedor del Comentario -->
							<div class="comment-box">
								<div class="comment-head">
									<h6 class="comment-name"><a href="http://creaticode.com/blog">Lorena Rojero</a></h6>
									<span>hace 10 minutos</span>
									<i class="fa fa-reply"></i>
									<i class="fa fa-heart"></i>
								</div>
								<div class="comment-content">
									Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit omnis animi et iure laudantium vitae, praesentium optio, sapiente distinctio illo?
								</div>
							</div>
						</li>

						<li>
							<!-- Avatar -->
							<div class="comment-avatar"><img src="http://i9.photobucket.com/albums/a88/creaticode/avatar_1_zps8e1c80cd.jpg" alt=""></div>
							<!-- Contenedor del Comentario -->
							<div class="comment-box">
								<div class="comment-head">
									<h6 class="comment-name by-author"><a href="http://creaticode.com/blog">Agustin Ortiz</a></h6>
									<span>hace 10 minutos</span>
									<i class="fa fa-reply"></i>
									<i class="fa fa-heart"></i>
								</div>
								<div class="comment-content">
									Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit omnis animi et iure laudantium vitae, praesentium optio, sapiente distinctio illo?
								</div>
							</div>
						</li>

					</ul>
				</li>
				<li>
					<div class="comment-main-level">
						<!-- Avatar -->
						<div class="comment-avatar"><img src="http://i9.photobucket.com/albums/a88/creaticode/avatar_2_zps7de12f8b.jpg" alt=""></div>
						<!-- Contenedor del Comentario -->
						<div class="comment-box">
							<div class="comment-head">
								<h6 class="comment-name"><a href="http://creaticode.com/blog">Lorena Rojero</a></h6>
								<span>hace 10 minutos</span>
								<i class="fa fa-reply"></i>
								<i class="fa fa-heart"></i>
							</div>

							<div class="comment-content">
								<form class="" action="" method="post">
									<textarea name="name" rows="8" cols="80"></textarea>
								</form>
							</div>
						</div>
					</div>
				</li>
			</ul>
		</div>

	</div>

</div>
