<!-- <head>
  <meta charset="utf-8">
  <title>أبصر</title>
  <link rel="stylesheet" href="/css/freelancer.css">
  <link rel="stylesheet" href="/css/navbar.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
*{
  margin: 0;
  padding: 0;
}
.all{
  width: 100%;
  position: absolute;
  margin-top: 60px;
}
.card .nameperson{
  margin-top: 20px;
}
.card {
  background-color:#999999;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 30%;
  margisn: auto;
  text-align: center;
  font-family: arial;
  float: left;
  height: 100vh;
}
.con{
  max-width: 70%;
  float: left;
  margin-left:199px;
  margin-top: 40px;
}
.conn{
  max-width: 70%;
  float: left;
  margin-left:99px;
  margin-top: 40px;
}
.title {
  color: grey;
  font-size: 18px;
}

#submit {
      border: none;
      padding: 8px;
      color: white;
      background-color: #0d0d0d;
      text-align: center;
      cursor: pointer;
      width: 19%;
      font-size: 18px;
      float: right;
      position: absolute;
      margin-top: 16px;
      border-radius: 0px
}

a {
  text-decoration: none;
  font-size: 22px;
  color: black;
}

button:hover, a:hover {
  opacity: 0.7;
}
</style>
</head> -->
    <head>
        <meta charset="utf-8" />
        <title>easy code easy job</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta content="width=device-width, initial-scale=1" name="viewport" />
        <link rel="stylesheet" href="/css/profile.css">
        <!-- BEGIN GLOBAL MANDATORY STYLES -->
        <link rel="stylesheet" href="/css/freelancer.css">
        <link rel="stylesheet" href="/css/navbar.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

        <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css" />
        <link href="/assets/global/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
        <link href="/assets/global/plugins/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css" />
        <link href="/assets/global/plugins/bootstrap/css/bootstrap-rtl.min.css" rel="stylesheet" type="text/css" />
        <link href="/assets/global/plugins/bootstrap-switch/css/bootstrap-switch-rtl.min.css" rel="stylesheet" type="text/css" />
        <!-- END GLOBAL MANDATORY STYLES -->
        <!-- BEGIN PAGE LEVEL PLUGINS -->
        <link href="/assets/global/plugins/bootstrap-fileinput/bootstrap-fileinput.css" rel="stylesheet" type="text/css" />
        <!-- END PAGE LEVEL PLUGINS -->
        <!-- BEGIN THEME GLOBAL STYLES -->
        <link href="/assets/global/css/components-rtl.min.css" rel="stylesheet" id="style_components" type="text/css" />
        <link href="/assets/global/css/plugins-rtl.min.css" rel="stylesheet" type="text/css" />
        <!-- END THEME GLOBAL STYLES -->
        <!-- BEGIN PAGE LEVEL STYLES -->
        <link href="/assets/pages/css/profile-rtl.min.css" rel="stylesheet" type="text/css" />
        <!-- END PAGE LEVEL STYLES -->
        <!-- BEGIN THEME LAYOUT STYLES -->
        <link href="/assets/layouts/layout2/css/layout-rtl.min.css" rel="stylesheet" type="text/css" />
        <link href="/assets/layouts/layout2/css/themes/blue-rtl.min.css" rel="stylesheet" type="text/css" id="style_color" />
        <link href="/assets/layouts/layout2/css/custom-rtl.min.css" rel="stylesheet" type="text/css" />
        <!-- END THEME LAYOUT STYLES -->
        <link rel="shortcut icon" href="favicon.ico" />
        <style>
        .page-sidebar-closed .page-content-wrapper .page-content {
          margin-right: -1px !important;
        }
        </style>
      </head>
